---
import '@/styles/globals.css'
import { Font } from 'astro:assets'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/vercel.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Sample Title</title>
		<meta name="description" content="Sample description" />
		<meta name="keywords" content="" />
		<Font cssVariable="--font-dm-sans" preload />
		<script>
			import { PUBLIC_POSTHOG_KEY } from 'astro:env/client'
			import posthog from 'posthog-js'

			posthog.init(PUBLIC_POSTHOG_KEY, {
				api_host: '/api/analytics',
				ui_host: 'https://us.posthog.com',
				defaults: '2025-05-24',
				person_profiles: 'always',
			})
		</script>
	</head>
	<body class="bg-background m-0 h-full w-full antialiased">
		<slot />
	</body>
</html>
